.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    padding: 25px;
    margin: 25px auto;
    gap: 25px;


    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;

    align-self: center;
}

.links a {
    color: gray;
}