.assignment-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    padding: 40px 20px;
}

.assignment-container div { 
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
}

.assignment-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
.assignment-container > div {
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    flex: 1;
}

.assignment-container h1 {
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.assignment-container h3 {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.assignment-container summary {
    cursor: pointer;
    padding: 16px 0;
    font-weight: 500;
    color: #34495e;
    border-bottom: 1px solid #ecf0f1;
    transition: color 0.2s ease;
    list-style: none;
    position: relative;
}


.card {
    background: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.card details {
    margin-bottom: 16px;
}

.card details[open] summary::after {
    transform: rotate(45deg);
}

.card p {
    font-size: 1rem;
    color: #7f8c8d;
    font-weight: 400;
}

.project-item {
    display: flex;
    flex-direction: column;
}

.project-item a {
    color: gray;
    font-size: 0.83em;
}

.assignment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    
}

.projects-header {
    width: 1000px;
    margin-bottom: 20px;
}

.add-project-btn {
    display: block;                  /* Делает кнопку широкой */
    width: 100%;                     /* На всю ширину контейнера */
    color: #333;                     /* Темный текст */
    text-decoration: none;           /* Убираем подчеркивание */
    padding: 14px 18px;              /* Размер кнопки */
    border-radius: 10px;             /* Плавные углы */
    font-weight: 600;
    text-align: center;              /* Центр текста */
    transition: 0.2s ease;           /* Анимация */

    background: #f9f9f9;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);

    margin-top: 4vh;
}

.add-project-btn:hover {
    background-color: #d5d5d5;
}

.add-project-btn:active {
    background-color: #c9c9c9;
}
